/* .MatchList-text {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-top: 2rem;
} */

.MatchList-text-center {
  margin-top: 5rem;
}

/** move the text down a bit */
.MatchList-list {
  margin-top: 2rem;
}
