.MatchCard {
  display: center;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 1rem;
  box-shadow: 0 2px 3px #ccc;
  background-color: #fff;
  transition: all 0.3s ease-out;
}

.MatchCard-title {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.MatchCard:hover,
.MatchCard:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.user-info-pill {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
