.footer-fixed-bottom {
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.5s ease-in-out;
}

/* .footer-fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
} */

.back-button {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1rem;
  z-index: 1000;
}
